 <div class="user-details">
  <h1> About me </h1>
  <img class="alb" src="{{ "/assets/img/alb.JPG" | prepend: site.baseurl }}" alt="alb-img" style="width:540px;height:auto;">
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Science</h2>
      <i class="fa fa-database"></i>
      <img src="{{ "/assets/img/brain.png" | prepend: site.baseurl }}" alt="ai" width="64" height="64">
      <i class="fa fa-cloud"></i>
      <p>Data Science is the fuel of the Computer Science's future, I am mostly interested in machine learning and deep learning. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
	  <i class="devicon-java-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>Java, C++ and Python are my main development languages, they are ideal for implementing powerful and flexible solutions. </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="fa fa-terminal"></i>
      <p>Git and shell are my everyday tools as a software developer.</p>
    </div>
</div>
