<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ucm-logo" src="{{ "/assets/img/ucm-logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Computer Science degree </h3>
    <ul>
      <li><a href="{{site.l_gh-ifesoft}}">Most common Software Design patterns used for a Java enterprise desktop application</a> </li>
    </ul>
    <p>Persistence, courage and incessant responsibility have been my key skills for becoming an outstanding Bachelor’s Computer Science degree student who can lead a solution for any problem.</p>
    <a class="project-link" href="{{site.l_cs-degree}}">Check it out</a>
  </div>
</div>
