<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="scidata-logo" src="{{ "/assets/img/scidata-logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SciDataUCM </h3>
    <p>Co-Founder and project-leader of SciDataUCM, a students organization which promotes, expands and shares Data Science and new technologies with open source projects, talks and workshops. </p>
    <a class="project-link" href="https://scidataucm.github.io">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ucm-logo" src="{{ "/assets/img/ucm-logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Computer Science degree at Universidad Complutense Madrid </h3>
    <!-- <ul>
      <li><a class="link" href="{{site.l_gh-ifesoft}}">Most common Software Design patterns used for a Java enterprise desktop application</a> </li>
    </ul> -->
    <p>Persistence, courage and incessant responsibility have been my key skills for becoming an outstanding Bachelor’s Computer Science degree student who can lead a solution for any problem.
      Through these years I've mostly developed a <a href="{{site.l_gh-ifesoft}}">Java enterprise desktop application for congress management</a>, <a href="{{site.l_gh-traffic-simulator}}">a traffic simulator with GUI</a> . Not finished yet.</p>
    <a class="project-link" href="{{site.l_cs-degree}}">Programme specification</a>
  </div>
</div>
